<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Main Page</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="" />
  </head>
  <body>
  
      <div class="row" >
        <div class="col-sm" style="background:red;height: 100vw;">
          
        </div>
        <div class="col-10"style="margin-top:50px;">
          <h2>GET STARTED WITH <u> 4 PROJECTS</u> EACH PROJECT CONSIST OF <u> 4 API'S</u></h2><br>
          <div class="container"><hr></div>
          <div class="row">
          <div class="col-3">
            <div class="card" style="width: 15rem;" >
              <img src="images/admin.png" style="height:10rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Admin Member Management Panel</h5>
                <p class="card-text">Admin can add member view, update, delete a member detail</p>
                <a href="/admin" class="btn btn-primary">Click here</a>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card" style="width: 15rem;">
              <img src="images/photo.jpg"style="height:13rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Photo Gallery</h5>
                <p class="card-text">A person can upload a photo update it and view and delete the photo</p>
                <a href="/photo" class="btn btn-primary">Click here</a>
              </div>
            </div>
          </div>
          
          <div class="col-3">
            <div class="card" style="width: 15rem;" style="float:left">
              <img src="images/book.jpg" style="height:11rem;" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Book Now</h5>
                <p class="card-text">A person can book train, flight, bus tickets and view its booking details, delete its details, update its details</p>
                <a href="/book" class="btn btn-primary">Click here</a>
              </div>
            </div>
          </div>
            <div class="col-3">
              <div class="card" style="width: 15rem;">
                <img src="images/shop.png" style="height:11rem;" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Online Shopping Todo List</h5>
                  <p class="card-text"> A person can add item to its shopping list view it and update as well as delete it</p>
                  <a href="/shop" class="btn btn-primary">Click here</a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
        
          
              
        </div>
        
     
     
      

    <script src="" async defer></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
