<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Online Shopping List</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="row">
      <div class="col-sm" style="background:red;height: 100vw;">
          <br>
          <div class="row col">
              <div class="container">
                <a class="btn btn-dark" href="http://localhost:3000/" role="button"
                  >Projects Page</a
                >
              </div>
            </div>
            <br>
                  <div class="row col">
                      <div class="container">
                        <a class="btn btn-warning" href="http://localhost:3000/shop" role="button"
                          >Home</a
                        >
                      </div>
                    </div>
                    <br>
                    <div class="row col">
                        <div class="container">
                          <a class="btn btn-secondary" href="http://localhost:3000/shop" role="button"
                            >Back</a
                          >
                        </div>
                      </div>
      </div>
      <div class="col-10" style="margin-top:50px;">
            <h2>ONLINE SHOPPING LIST MANAGEMENT</h2>
        <br />
        <div class="container"><hr /></div>
        <form action="/add_item" method="post" class="container ">
          <div class="form-group col-4">
            <label>Item name</label>
            <input type="name" class="form-control" name="item" required />
          </div>
         
          <button type="submit" class=" btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

    <script src="" async defer></script>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
